@charset "UTF-8";

body {
	text-align: center;
	margin: 0; /* deals with the border of the whole webpage */
}


h5{font-size: 68px;}


/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: black;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #f1f1f1;
  color: cadetblue;
}


body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}



/*how much of the PHOTO is shown e.g. 100% is showing full photo THEN div comes up*/
body, html {
  height: 80%;
}



.parallax {
  /* The image used */
  background-image: url(https://www.govloop.com/wp-content/uploads/2015/03/Cyber-Security.jpg);

  /* Full height */
  height: 80%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.save {color:royalblue}


.responsible {color:rebeccapurple}



